<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">

<div class="container ">
    <div class="pt-4">
        <div class="col-lg-6 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded">Register Here!!</h3>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group p-2">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname"
                        class="form-control form-control-sm" placeholder="">
                </div>

                <div class="form-group p-2">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" id=""
                        class="form-control form-control-sm placeholder="">
                </div>

                <div class=" form-group p-2">
                    <label required for="email">Email</label>
                    <input required type="email" name="email" id=""
                        class="form-control form-control-sm" placeholder="example@gmail.com">
                </div>

                <div class="form-group p-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id=""
                        class=" form-control form-control-sm" placeholder="*********">
                </div>

                <div class="form-group p-2">
                    <label for="phone">Phone no.</label>
                    <input type="" name="phone" id="" class="form-control form-control-sm"
                        placeholder="5656565656">
                </div>

                <div class="form-group p-2">
                    <input class="btn btn-sm btn-info" type="submit" value="Submit" style="font-size: 20px;">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>